*{
	box-sizing:border-box;
}

header{
	height: 1100px;
	background-image: url("../media/small_steps.png");
	background-repeat: repeat;
}

#header{
	margin-top:300px;
}

body{
	width:100%;
	margin:auto;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	background-color: #ffffff;
	margin-top:50px;
	padding-bottom:15px;
	margin-left: 0;
	margin-right: 0;
	background-image: url("../media/small_steps.png");
	background-repeat: repeat;
}

	
/*||| Headings |||*/

h1{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 36pt;
	letter-spacing: 2pt;
	text-align: center;
}

h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 21pt;
	line-height: 18pt;
	text-transform:uppercase;
	text-align: center;
	font-weight:semibold;
}

h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	line-height: 18pt;
	text-transform:uppercase;
	text-align: left;
	font-weight:normal;
	text-align: center;
}

nav h3{
	text-align: center;
	font-size:16pt;
}

footer h3{
	text-align: center;
	font-size:14pt;
	margin: auto;
	margin-top: 10px;
}

	
/*||| Links |||*/

a:link{
	color:black;
	text-decoration:none;
	transition: color 0.5s;
}

a:visited{
	color:black;
	text-decoration:none;
	transition: color 0.5s;
}

a:hover{
	color: cadetblue;
	text-decoration:none;
	transition: color 0.5s;
}

/*||| Divs |||*/

div.content{
	width:100%;
	height: 900px;
	background-color:white;
	padding:4px;
	padding-left:15px;
	margin-bottom:200px;
	margin-top:10px;
}

div.list{
	padding-top: 40px;
	margin: 0 auto;
	min-width: 250px;
	max-width:320px;
}


/*||| Bulleted Lists |||*/

li{
	color:gray;
}

li span{
	margin-left:-10px;
}

/*||| Footer |||*/

footer{
	width:100%;
	height: 90px;
	text-align: center;
	padding:30px;
	background-color: slategray;
	color: white;
	position: fixed;
	bottom: 0;
}

footer a:link{
	color: lightgray;
	transition: color 0.5s;
}

footer a:visited{
	color: lightgray;
	transition: color 0.5s;
}

footer a:hover{
	color: white;
	transition: color 0.5s;
}




